<p>
  <input type="checkbox" name="email_to_user" /> Email this note to the Customer?

  <input type="checkbox" name="resend_creation_email" /> Resend ticket creation email to the Customer?

  <input type="checkbox" name="resend_closing_email" /> Resend ticket closed email to the Customer?
</p>