<p>
  <input type="checkbox" name="email_to_user" /> Email this note to: 
  <%= select_tag(:email_to_user_address, options_for_select(emails)) %>

  <input type="checkbox" name="resend_creation_email" /> Resend ticket creation email to:
  <%= select_tag(:resend_creation_email_address, options_for_select(emails)) %>

  <input type="checkbox" name="resend_closing_email" /> Resend ticket closed email to:
  <%= select_tag(:resend_closing_email_address, options_for_select(emails)) %>
</p>