
<p>
  <label for="support_template_path">Full path to email templates</label>
  <%= text_field_tag 'settings[support_template_path]', @settings['support_template_path'], :style => 'width: 75%' %>
</p>
