
<p>
  <label for="support_delete_non_support_emails">Delete unsuccessfully processed emails</label>
  <%= check_box_tag 'settings[support_delete_non_support_emails]', 1, @settings['support_delete_non_support_emails'] %>
</p>
